!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello #{@user.try(:first_name)}
    %p
      You just declined to Project #{@project.title} :(
    %p
      Sorry!
