!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello #{@user.try(:first_name)}
    %p
      New user invited to your Project #{@project.title}
    %p
      Event start date - end date
