%div.py4
	%h2.center
		About
	%p.center
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias suscipit, sint voluptates a explicabo atque! Impedit totam et fuga dignissimos, amet dolor a nulla commodi id eveniet dolore libero, dicta!
.overflow-hidden.border.rounded
	.p2
		%h2.m0.center
			Projects
	.p2
		.clearfix
			.col-4.col
				.p3.center.project-item
					%img{:src => "", :alt => ""}/
					%h3.project-title
						title
					.project-descr
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quibusdam, animi. Nisi minus iste, quidem accusantium in rem doloremque incidunt quibusdam minima sed dignissimos quos, nesciunt reiciendis odio animi! Eos.
			.col-4.col
				.p3.center.project-item
					%img{:src => "", :alt => ""}/
					%h3.project-title
						title
					.project-descr
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quibusdam, animi. Nisi minus iste, quidem accusantium in rem doloremque incidunt quibusdam minima sed dignissimos quos, nesciunt reiciendis odio animi! Eos.
			.col-4.col
				.p3.center.project-item
					%img{:src => "", :alt => ""}/
					%h3.project-title
						title
					.project-descr
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quibusdam, animi. Nisi minus iste, quidem accusantium in rem doloremque incidunt quibusdam minima sed dignissimos quos, nesciunt reiciendis odio animi! Eos.												
