.container
  %h1.px2
    Inviters for project
    %br/
    = @event.project.title
    %br
    = @event.note

  #items

    = render(partial: 'items', locals: {candidates: @candidates, event: @event})

  .clearfix.border-bottom.py1
