- if is_user_organizer
  .container
    %h1 Edit Project
    = render 'form'
    .mb2
      = link_to 'Back', projects_path, :class => "btn green"
      = link_to 'Show', project_path, :class => "btn green"
      = link_to ' Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'typcn typcn-times red' 