.container
  %h1 All projects
  - @projects.each do |project|
    .clearfix.py-1
      .col.col-3.px2
        %img{:alt => "", :src => project.cover.url(:medium)}/
      .px2.col.col-3
        = project.title
      .px2.col.col-5
        = project.description

    %hr/
%br/
.panel-bottom.bg-white.py2.border-top
  .container.white
    = link_to 'Add Project', new_project_path, {:class=>"btn btn-primary bg-green right"}