// Global styles
.field,
.form-field {
	margin: 0px 0px 15px 0;
	border: 0px;
	background-color: #fff;
	label {
		color: #7f8c8d;
	}
}

.btn {
	font-weight: 500;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}
body {
	font-weight: 500;
}

body,
html {
	height: 100%;
}
.page-main {
	padding: 100px 0px 40px 0px;
	min-height: 100%;
	margin-bottom: -25px;
	&:after {
		display: block;
		height: 25px;
		content: '';
	}
}
// Projects
.project-item {
	
	.project-title {
		
	}
	.project-descr {
		
	}	
}
