// Global styles
.field-row {
  margin: 0px 0px 15px 0;
  border: 0px;
  label {
    color: #7f8c8d;
  }
}
a {
  text-decoration: none;
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}
.bg-light {
  background-color: #f6f9fa;
}
// Forms
.form-all {
  width: 500px;
  display: block;
  margin: 0 auto;
  background-color: #f6f9fa;
  .field {
    width: 100%;
  }
}
.field {
  background-color: #e8eeef;
  border-color: #e8eeef;
  transition: background-color 0.2s ease-in-out;
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: #e8eeef;
  }
}

.btn {
  font-weight: 500;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: #384047;
}
body {
  font-weight: 500;
  color: #576366;
  font-family: $base_font_family;
}

body,
html {
  height: 100%;
}

select {
  padding: 0;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -120px;
  &:after {
    display: block;
    height: 120px;
    content: '';
  }
}
.page-main {
  padding: 100px 0px 40px 0px;
}
// Projects
.project-item {

  .project-title {

  }
  .project-descr {

  }
}


#error_explanation {
  color: red;
}