// Global styles
.field,
.form-field {
	margin: 0px 0px 15px 0;
	border: 0px;

	label {
		color: #7f8c8d;
	}
}

.btn {
	font-weight: 500;
}

h1, h2, h3, h4, h5,
body {
	font-weight: 500
}

.page-main {
	padding: 100px 0px 40px 0px;
}
// Projects
.project-item {
	
	.project-title {
		
	}
	.project-descr {
		
	}	
}
