// Page header
.page-header {
  position: fixed;
  padding: 0 0;
  width: 100%;
  z-index: 1001;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.96);
  .header-nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 15px 15px;
        }
      }
    }
  }
  .btn {
    &.green {
      &:hover {
        color: darken($green, 10%);
      }
    }
  }
}

.Logo {
  color: $green;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  position: relative;
  .beta {
    position: absolute;
    left: 100%;
    margin: -12px 2px;
    font-size: 60%;
    color: #ccc;
    bottom: 50%;
  }
  &:hover {
    color: lighten($green,10%);
  }
}