.page-footer
	.container.center
		%nav.social-nav
			%ul
				%li
					%a{:href => "#", :class => "typcn typcn-social-instagram"}
				%li
					%a{:href => "#", :class => "typcn typcn-social-facebook"}
		%div
			%small.copyright
				©2016 VolunteerFinder