// Medida query
$media40em: 40em;
$media50em: 52em;
$media60em: 64em;
$media40em: 40em;
$media50em: 52em;
$media60em: 64em;


// Colors
$green: #2ecc40;
$base_font_family: 'Helvetica Neue', Helvetica, 'Arial', sans-serif;

// 
$footer_height: 85px;